@import url("https://fonts.googleapis.com/css?family=Reddit+Mono");

* {
    font-family: "Reddit Mono", monospace;
}

#titulo {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
    color: #53F072;
}

.imagen {
    margin: 0.2px 1.2rem;
    padding: 0 25%;
    border: 1px blue double;
    background-color: #E2F3DF;
}